<f:layout name="Plugin" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="person-plugin" >
<f:link.action action="list" controller="Language" pluginName="Languages" pageUid="{settings.languagesPid}">« zurück</f:link.action><h1>{language.name}</h1>

<f:flashMessages />

<div class="person-container" >

	<f:for each="{persons}" as="person">
		<div class="one-person">
				<f:if condition="{person.image}">
				<f:then>
				<div class="person-item-image">
					<f:image src="uploads/tx_tuvgdue/{person.image}" width="200" height="150" alt="Person-Image" />
				</div>
				</f:then>
				<f:else>
					<div class="person-item-image"></div>
				</f:else>
			</f:if>
			<div class="person-item-Name">{person.firstName} {person.lastName}</div>

			<div class="person-item-adress">{person.address}</div>
			<div class="person-item-telefone">Tel: {person.telephone}</div>
			<div class="person-item-mobile">Mobil: {person.mobilePhone}</div>
			
			<div class="person-item-eMail"><f:link.email email="{person.email}">E-Mail schreiben</f:link.email></div>
			<div class="skills">
				<div class="person-item-interpreter">
					<f:if condition="{person.interpreter}>0">
						<f:then>
							<b>D</b>
						</f:then>
						<f:else>
							<p></p>
						</f:else>
					</f:if>
				</div>
				<div class="person-item-translator">
					<f:if condition="{person.translator}>0">
						<f:then>
							<b>Ü</b>
						</f:then>
						<f:else>
							<p></p>
						</f:else>
					</f:if>
				</div>
			</div>
		</div>		
		<div class="person-divider"></div>
	</f:for>
	<div class="legend"><b>D</b> allgemein vereidigte/r Dolmetscher/in</div>
	<div class="legend"><b>Ü</b> ermächtigte/r Übersetzer/in</div>
	
    <!--<div class="clear"></div>-->
</div>
<div class="page-person-image">
        <f:image src="EXT:tu_vgdue/Resources/Public/Images/gericht.png" class="page-person-img" alt="Justitzlogo Hessen"/>
</div>
</div>
</f:section>