<f:layout name="Plugin" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Language</h1>

<f:flashMessages />
    <f:debug>{_all}</f:debug>

<div class="language-container">

    <f:for each="{languages}" as="language">
        <f:if condition="{language}">
            <f:then>
                <div class="language-item">
                    <f:link.action action="list" controller="Person" plugin="Person" pageUid="{settings.personPid}" arguments="{language : language}">{language.name}</f:link.action>
                </div>
            </f:then>
            <f:else>
                <div class="language-item">
                    EMPTY
                </div>
            </f:else>
        </f:if>
    </f:for>

</div>

</f:section>