<f:layout name="Plugin" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h2>Wählen Sie die Sprache nach der Sie suchen:</h2>

<f:flashMessages />
<div class="language-container">
    
    <f:for each="{languages}" as="language">
        <f:if condition="{language}">
            <f:then>
                <div class="language-item">
                    <f:link.action action="list" controller="Person" pluginName="Person" pageUid="{settings.personPid}" arguments="{languageToDisplay: language}">{language.name}</f:link.action>
                </div>
            </f:then>
            <f:else>
                <div class="language-item">
                    
                </div>
            </f:else>
        </f:if>
    </f:for>
    
</div>
<div class="page-image">
        <f:image src="EXT:tu_vgdue/Resources/Public/Images/Hessen.png" class="page-image-img" alt="Justitzlogo Hessen"/>
    </div>
<div class="clear"></div>

</f:section>