<div class="tx-tu-vgdue">
	<div id="layer1">
		<div id="header">
			<div id="header-image"><f:image src="EXT:tu_vgdue/Resources/Public/Images/world.png" alt="world map"/></div>
			<div id="header-green">

				<div class="page-title">Vereidigte Gerichtsdolmetscher 
und Übersetzer / Hessen e.V. (VGDÜ)</div>
			</div>
			<div class="grey-bar"></div>
			<div id="menu-bar">
				<div class="menu-item">Impressum</div>
				<div class="menu-item">Über uns</div>
				<div class="menu-item">Sprachen</div>
			</div>
			<div class="grey-bar"></div>
		</div>

		<f:render section="main" />
	</div>
	
	
</div>