<div class="tx-tu-vgdue">
	<f:image src="EXT:tu_vgdue/Resources/Public/Images/world-big.png" alt="world map" class="background-map"/>
	<div id="layer1">
		
		<div id="layer2">
			<div id="header">
				<div id="header-image"><f:image src="EXT:tu_vgdue/Resources/Public/Images/world.gif" alt="world map"/></div>
				<div id="header-green">
	
					<div class="page-title">Vereidigte Gerichtsdolmetscher 
	und Übersetzer / Hessen e.V. (VGDÜ)</div>
				</div>
				<div class="grey-bar"></div>
				<div id="menu-bar">
					<div id="menu-container">
						<f:format.html parseFuncTSPath="">{menu}</f:format.html>
					</div>
				</div>
				<div class="grey-bar"></div>
			</div>
	
			<f:render section="main" />
		</div>
	<div class="meta-menu"><f:link.page pageUid="4">Haftungsausschluss</f:link.page></div>
	</div>
	
</div>