.language-container{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #555;
	width: 603px;


}
.language-container a{
	text-decoration: none;
	color: #555;
}
.language-container a:hover{
	text-decoration: underline;
	color: #555;
}
.language-item{
	width: 200px;
	float: left;
	margin-bottom: 10px;
}
.page-image{
	width: 200px;
	height: 260px;
	float: right;
}